/* https://wallpaperbro.com/paris-landscape */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}

.header {
    height: 95vh;
    /*background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.81), rgba(40, 180, 133, 0.81)), url("../img/eiffel0.jpg");*/
    background-image: linear-gradient(to right bottom, rgba(255, 189, 183, 0.6), rgba(255, 222, 218, 0.6)),
        url("https://drscdn.500px.org/photo/154060067/q%3D80_m%3D1500_k%3D1/v2?user_id=589031&webp=true&sig=e3f7bfe7186901e496a6d67a33a136db24c52b554b1af627090fc72ba079fe89");
    background-size: cover;
    background-position: top;
    position: relative;

    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.logo-box {
    position: absolute;
    top: 40px;
    left: 45px;
}

.logo {
    height: 90px;
}

.text-box {
    position: absolute;
    top: 40%;
    left: 55%;
    transform: translate(-50%, -50%);
}

.heading-primary {
    color: #ffff;
    text-transform: uppercase;
    text-shadow: 0 2px 5px #ffffff;

    backface-visibility: hidden;
}

.heading-primary-main {
    display: block;
    font-size: 75px;
    font-weight: 700;
    letter-spacing: 35px;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    /*
    animation-delay: 0.75s;
    animation-iteration-count: 3;
    */
}

.heading-primary-sub {
    display: block;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 10px;
    animation: moveInRight 1s ease-out;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight{
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}