// COLORS
$color-primary-light: #FFDEDA;
$color-primary-darker: #ff6f74;
$color-primary-dark: #FF9C91;

$color-purple-light: #F7DBFF;
$color-purple-dark: #734780;

$color-blue-light: #39D1CF;
$color-blue-dark: #40807E;

$color-brown-light: #FFA7A6;
$color-brown-dark: #85403F;

$color-pink-light: #FFC7D9;
$color-pink-dark: #D1889F;

$color-green-light: #7ed56f;
$color-green-dark: #28b485;

$color-orange-light: #ffb900;
$color-orange-dark: #ff7730;

$color-blue-light: #2998ff;
$color-blue-dark: #5643fa;

$color-gray-dark: #777;
$color-gray-dark-2: #999;

$color-white: #fff;
$color-black: #000;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid_width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;