@import "../abstracts/variables";
@import "../abstracts/mixins";

.section-about {
  background-color: $color-gray-light-1;
  margin-top: -20vh; //95vh-75vh of the header
  padding: 25rem 0;

  @include respond(tab-port) {
    padding: 20rem 0;
  }
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
                  to right bottom,
                  rgba($color-primary-light, 0.6),
                  rgba($color-primary-dark, 0.35)),
                  url("../../img/building.jpg");
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -12rem;

  /*select direct children*/
  & > * {
    transform: skewY(7deg);
  }
  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.section-tours {
  background-color: $color-gray-light-1;
  padding: 25rem 0 15rem 0;
  margin-top: -12rem;

  @include respond(tab-port) {
    padding: 20rem 0 10rem 0;
  }
}

.section-stories {
  //background-color: $color-gray-light-1;
  padding: 15rem 0;
  position: relative;

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-darker);

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.book {
  background-image: linear-gradient(105deg,
          rgba($color-white, .9) 0%,
          rgba($color-white, .9) 50%,
          transparent 50%),
          url("../../img/eiffel5.jpg");
  background-size: cover;
  border-radius: 35px;
  box-shadow: 0 3rem 6rem rgba($color-black, .35);
  transition: all .3s;

  height: 50rem;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 5rem 8rem rgba($color-black, .35);
  }

  &__form {
    width: 50%;
    padding: 6rem;
  }
}